body {
  background-color: #f9f9fe;
  padding: 0;
  margin: 0;
}

.container1 {
  display: flex;
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
}

.header {
  display: flex;
  width: 100%;
  height: 48px;
  /* border: solid black; */
  padding: 4px 24px 4px 12px;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 10px 12px;

  /* border: solid black; */
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}

.navicons {
  display: none;
}

.navicons-fr1 {
  display: none;
}

.navicons-fr2 {
  display: none;
}

.button {
  display: flex;
  padding: 8px;

  /* border: solid black; */
  border-radius: 8px;
}
.menu {
  width: 100%;
  display: none;
  z-index: 1;
  background-color: #6070ff;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  mix-blend-mode: multiply;
}

.closeBUT {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 1.07% 6.4% 1.07% 0;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
}
.closeBUT button {
  display: flex;
  padding: 2.1%;
  align-items: flex-start;
  border-radius: 8px;
  background: none;
  border: none;
}
.hamList {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 0 3.2%;
  box-sizing: border-box;
  list-style-type: none;
}
.hamList li {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 2.3% 4.6%;
  box-sizing: border-box;
  align-items: center;
  color: var(--Theme-1-Neutrals-11, #fff);
}
.hamList li p {
  display: flex;
  width: 67%;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  font-family: Poppins;
  font-size: 8.533vw;
  font-style: normal;
  font-weight: 600;
  line-height: 11.733vw;
}

.Headline {
  background-image: url(./Assests/header-shapes\ mobile.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 114px 24px;
  flex-direction: column;

  /* border: solid black; */
  align-items: flex-start;
  gap: 12px;
}

.text1 {
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  margin-top: 0;
  margin-bottom: 0;

  /* Header / 2 */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.text2 {
  width: 100%;
  height: 146px;
  color: var(--neutrals-n-600, #344563);
  margin-top: 0;
  margin-bottom: 0;

  /* Body / 2 */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.Connect {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-b-300, #7f8cff);

  /* Body / 2 - Bolder */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.So-Icons {
  width: 100%;
  height: 20px;
}

.Works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 708px auto 708px;
  justify-content: center;
}

.card1 {
  display: flex;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
  flex-direction: column;

  /* align-items: center; */
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  transition: transform 0.5s ease;
}
.card1:hover {
  transform: scale(1.02);
  cursor: url(./Assests/hand-cursor\ 1.png), auto;
  box-shadow: #172b4d;
  border-radius: 24px;
  border: 2px solid var(--primary-b-200, #a7aeff);
}

.port-snap {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.Text-Block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  height: 288px;
}

.Primary-Text {
  width: 100%;
  height: 80px;

  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.Project-Title {
  width: 100%;
  height: 36px;

  /* border: solid black; */
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
}

.Frame {
  display: flex;
  align-items: center;
  gap: 12px;

  /* border: solid yellow; */
  width: 236px;
  height: 32px;
}

.fr-text {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.fr-text-Desktop-2 {
  display: none;
}

.fr1-text-Desktop-2 {
  display: none;
}

.fr1-text {
  color: var(--neutrals-n-100, #7a869a);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.counter {
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #c1c7d0);
}

.p-text {
  display: flex;
  margin: 0;
  width: 100%;
  height: 76px;
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.p-text-Desktop-2 {
  display: none;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.t-li {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  color: var(--primary-b-400, #6070ff);

  /* Button / Small */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.36px;
}

.t-li-Desktop-2 {
  display: none;
}

.action {
  display: flex;
  padding: 12px 130px 12px 0;
  align-items: center;
}

.see-project {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;

  /* Button /Normal */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
  cursor: pointer;
  background: content-box;
}

.see-project:hover {
  border-width: 2px;
  border: solid black;
  color: black;
}
.modal {
  display: none;
}

.card2 {
  display: flex;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
  flex-direction: column;

  /* align-items: center; */
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  transition: transform 0.5s ease;
}
.card2:hover {
  transform: scale(1.02);
  cursor: url(./Assests/hand-cursor\ 1.png), auto;
  box-shadow: #172b4d;
  border-radius: 24px;
  border: 2px solid var(--primary-b-200, #a7aeff);
}

.Primary-Text-2 {
  width: 100%;
  height: 120px;

  /* border: solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.Project-Title-2 {
  width: 100%;
  height: 79px;

  /* border: solid black; */
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
}

.Project-Title-2-Desktop {
  display: none;
}

.card3 {
  display: flex;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  transition: transform 0.5s ease;
}
.card3:hover {
  transform: scale(1.02);
  cursor: url(./Assests/hand-cursor\ 1.png), auto;
  box-shadow: #172b4d;
  border-radius: 24px;
  border: 2px solid var(--primary-b-200, #a7aeff);
}

.card4 {
  display: flex;
  margin-top: 114px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
  flex-direction: column;

  /* align-items: center; */
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  transition: transform 0.5s ease;
}
.card4:hover {
  transform: scale(1.02);
  cursor: url(./Assests/hand-cursor\ 1.png), auto;
  box-shadow: #172b4d;
  border-radius: 24px;
  border: 2px solid var(--primary-b-200, #a7aeff);
}

.Myself {
  background-color: white;
  box-sizing: border-box;
  margin-top: 114px;
  padding: 114px 24px;
  width: 100%;
  height: 1062.14673px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.top {
  width: 100%;
  height: 346px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.top-text1 {
  display: flex;
  width: 100%;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);

  /* Header / 2 */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
  margin: 0;
}

.top-text2 {
  width: 100%;
  height: 147px;
  color: var(--neutrals-n-600, #344563);
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.social {
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.social-text {
  color: var(--primary-b-300, #7f8cff);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.Frame2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}

.Frame2-icons {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.resum {
  width: 162px;
  height: 48px;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  background: content-box;
  cursor: pointer;
}

.resum-text {
  width: 138px;
  height: 24px;
  margin: 0;
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 464.14679px;
  margin: 0;
  padding: 0;
}

.Languages {
  width: 100%;
  height: 320.14679px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Lan-Fr {
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.sep-bot {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
}

.lang-text {
  width: 237px;
  height: 27px;
  margin: 0;
  color: #000;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.Lang-button {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border: 0;
  background: content-box;
  cursor: pointer;
}

.language-list {
  box-sizing: border-box;
  width: 100%;
  height: 248.14679px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.language-list-lang {
  box-sizing: border-box;
  width: 100%;
  height: 66.7156px;
  display: flex;
  padding: 9px 12px 9.716px 12px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.img-list {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.list-text {
  display: flex;
  width: 215px;
  height: 24px;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.Frameworks {
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.Skills {
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.contact {
  display: flex;
  width: 100%;
  height: 779px;
  flex-direction: column;
  background-color: #6070ff;
  border-radius: 60px 0 0 0;
  background-image: url(./Assests/contact\ form\ shapes-mobile.svg);
  background-position: right;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.c-text1 {
  display: flex;
  width: 100%;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  margin: 0;
  margin-top: 103px;

  /* Header / 2 */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.c-text2 {
  display: flex;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.contact-form {
  display: flex;
  width: 100%;
  height: auto;

  /* border: solid black; */
  box-sizing: border-box;
  margin-top: 52px;
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: column;
  gap: 20px;
}

.name {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

.email {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

.feedback {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

.get-in-touch {
  width: 142px;
  height: 48px;
  display: inline-flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  background: var(--neutrals-n-0, #fff);
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  cursor: pointer;
  border: none;

  /* Button /Normal */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.51px;
}

::placeholder {
  padding-left: 8px;
  color: var(--neutral-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}

input {
  box-sizing: border-box;
  padding-left: 16px;
  color: var(--neutral-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}

textarea {
  box-sizing: border-box;
  padding-left: 16px;
  color: var(--neutral-n-800, #172b4d);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}

textarea:focus,
input:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #f9f9fe;
    margin: 0;
  }

  .container1 {
    display: flex;
    background-color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  }

  .header {
    display: flex;
    width: 100%;
    height: 48px;
    margin: 0;
    padding-right: 9.93%;
    padding-left: 9.93%;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    padding: 10px 12px;
    cursor: pointer;

    /* border: solid black; */
    align-items: center;
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
  }

  .logo:hover {
    color: var(--neutrals-n-600, #344563);
  }

  .navicons {
    width: 258px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  .navicons-fr1 {
    width: 86px;
    height: 40px;
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
    cursor: pointer;
  }

  .navicons-fr1:hover {
    background: var(--theme-1-primary-colors-4, #ebebff);
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
  }
  .navicons-fr1 a {
    color: var(--neutrals-n-600, #344563);
    text-decoration: none;
  }
  .navicons-fr2 {
    width: 70px;
    height: 40px;
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
    cursor: pointer;
  }

  .navicons-fr2:hover {
    background: var(--theme-1-primary-colors-4, #ebebff);
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
  }
  .navicons-fr2 a {
    color: var(--neutrals-n-600, #344563);
    text-decoration: none;
  }

  .button {
    display: none;
    padding: 8px;

    /* border: solid black; */
    border-radius: 8px;
  }

  .Headline {
    background-image: url(./Assests/Header\ bg.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 20% 18.05%;
    flex-direction: column;
    border-radius: 0 0 0 120px;

    /* border: solid black; */
    align-items: flex-start;
    gap: 12px;
  }

  .text1 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    color: var(--neutrals-n-800, #172b4d);
    margin-top: 0;
    margin-bottom: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 3.333vw;
    font-style: normal;
    font-weight: 700;
    line-height: 4.167vw; /* 130% */
    letter-spacing: 0.37px;
  }

  .text2 {
    width: 100%;
    height: auto;
    color: var(--neutrals-n-600, #344563);
    margin-top: 0;
    margin-bottom: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.389vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.944vw; /* 150% */
  }

  .Connect {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-b-300, #7f8cff);

    /* Body / 2 - Bolder */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667vw; /* 150% */
    margin-top: 1.1%;
    cursor: pointer;
  }

  .Connect:hover {
    color: var(--neutrals-n-600, #344563);
  }

  .So-Icons {
    width: 19%;
    height: auto;
    cursor: pointer;
  }

  .con-img {
    width: 100%;
  }

  .Works {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;

    /* justify-content: center; */
  }

  .card1 {
    width: 82%;
    height: auto;
    display: flex;
    margin-top: 7.91%;
    margin-left: 7.9%;
    margin-right: 7.9%;
    padding: 1.111%;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
  }

  .port-snap {
    display: flex;
    width: 48.5%;
    height: auto;
  }

  .Text-Block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4%;
    width: 47.4%;
    height: 94%;
    padding: 4.138% 2.138% 2.138% 2.138%;
  }

  .Primary-Text {
    width: 95.7%;
    height: auto;

    /* border: solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .Project-Title {
    width: 100%;
    height: 46px;
    display: none;

    /* border: solid black; */
    color: var(--neutrals-n-800, #172b4d);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
  }

  .Frame {
    display: flex;
    align-items: center;
    gap: 3%;

    /* border: solid yellow; */
    width: 64.5%;
    height: auto;
  }

  .fr-text {
    display: none;
    color: var(--neutrals-n-600, #344563);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .fr1-text {
    display: none;
    color: var(--neutrals-n-100, #7a869a);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .counter {
    width: 8px;
    height: 8px;
    fill: var(--neutrals-n-50, #c1c7d0);
  }

  .p-text {
    display: none;
    margin: 0;
    width: 100%;
    height: 50px;
    color: var(--neutrals-n-600, #344563);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
  }

  .p-text-Desktop-2 {
    margin: 0;
    width: 94.67%;
    height: auto;
    display: flex;
    color: var(--neutrals-n-600, #344563);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667vw; /* 160% */
  }

  .tags {
    display: flex;
    width: 95%;
    align-items: center;
    gap: 2%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .t-li {
    display: flex;
    padding: 1.6% 2.76%;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    color: var(--primary-b-400, #6070ff);

    /* Button / Small */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 500;
    line-height: 0.833vw; /* 133.333% */
    letter-spacing: 0.36px;
    cursor: url(./Assests/hand-cursor\ 1.png), auto;
  }

  .t-li-Desktop-2 {
    display: flex;
    padding: 1.4% 1.76%;
    align-items: center;
    border-radius: 8px;
    background: var(--primary-b-50, #ebebff);
    color: var(--primary-b-400, #6070ff);

    /* Button / Small */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.111vw; /* 133.333% */
    letter-spacing: 0.36px;
    cursor: url(./Assests/hand-cursor\ 1.png), auto;
  }

  .t-li:hover {
    background: var(--primary-b-50, #d4d4f3);
    color: #000;
  }

  .t-li-Desktop-2:hover {
    background: var(--primary-b-50, #d4d4f3);
    color: #000;
  }

  .action {
    display: flex;
    width: 24.4%;
    padding: 3.09% 0 0 0;
    align-items: center;
  }

  .see-project {
    display: flex;
    padding: 7.5%;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    color: var(--primary-b-500, #396df2);
    text-align: center;

    /* Button /Normal */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667vw; /* 141.176% */
    letter-spacing: 0.51px;
    cursor: url(./Assests/hand-cursor\ 1.png), auto;
    background: content-box;
  }

  .see-project:hover {
    border: none;
    border-radius: 8px;
    background: var(--primary-b-500, #4053fc);
    color: #fff;

    /* Button/1 */
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
  }

  .modal {
    display: none;
    width: 63.2%;
    height: auto;
    flex-shrink: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    margin-left: 20%;
  }

  .container_basic {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    padding: 0 2%;
    box-sizing: border-box;
    border: 1px solid var(--neutrals-n-30-l, #ebecf0);
    background: var(--White, #fff);

    /* Base/ Soft */
    box-shadow: 0px 48px 48px 0px rgba(37, 47, 137, 0.08);
  }

  .right_block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: auto;
    padding-top: 2.08%;
  }

  .Mod-Primary-Text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    height: auto;
  }

  .Mod-Frame-18 {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    height: auto;
  }
  .Mod-Project-Title {
    width: 95%;
    height: auto;
    color: var(--Theme-1-Neutrals-1, #091e42);

    /* Header / 2 */
    font-family: Poppins;
    font-size: 2.778vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.611vw; /* 130% */
  }
  .Mod-Cl-But {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    border-radius: 8px;
    width: 4.23%;
    height: auto;
    background: none;
    border: none;
  }
  .Mod-Frame-2 {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 30.4%;
    height: 36px;
    /* border: solid; */
  }
  .Mod-Client {
    display: flex;
    padding: 3.5% 0px;
    align-items: center;
    /* width: 34.23%;
    height: 20px; */
    color: var(--Neutrals-N600, #344563);

    /* Body / 3 - Bolder */
    font-family: Poppins;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.389vw; /* 133.333% */
  }
  .Mod-Role {
    display: flex;
    padding: 3.5% 0px;
    align-items: center;
    color: var(--Neutrals-N100, #7a869a);

    /* Body / 3 - Bolder */
    font-family: Poppins;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.389vw; /* 133.333% */
  }
  .Mod-Year {
    display: flex;
    padding: 3.5% 0px;
    align-items: center;
    font-family: Poppins;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.389vw;
  }
  .Mod-Snap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 53.13%;
    border-radius: 8px;
    margin-top: 28px;
  }
  .Mod-Snap img {
    width: 100%;
    height: 100%;
  }

  .right-block-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 65.3%;
    height: auto;
    margin-top: 5.4%;
  }
  .right-block-2 p {
    color: var(--Neutrals-N600, #344563);
    font-family: Poppins;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.083vw; /* 187.5% */
  }
  .right-block-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 30.4%;
    margin-left: 2.2%;
  }
  .divider {
    display: flex;
    width: 100%;
    height: 17px;
    padding: 0px 1.3%;
    justify-content: center;
    align-items: center;
  }
  .divider img {
    width: 97%;
  }
  .divider div {
    width: 97%;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--Neutrals-N30, #ebecf0);
  }

  .Mod-Action {
    display: flex;
    padding: 0px 2% 5.6% 1.7%;
    /*justify-content: center;*/
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    height: 56px;
  }
  .Mod-Action button {
    display: flex;
    padding: 2.65% 3.4%;
    align-items: center;
    gap: 10px;
    background: none;
    border-radius: 8px;
    border: 1px solid var(--Primary-B400, #6070ff);
  }
  .Mod-Action button p {
    color: var(--Primary-B500, #396df2);
    text-align: center;
    margin: 0;

    /* Body / 3 - Bolder */
    font-family: Poppins;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.389vw; /* 133.333% */
  }
  .card2 {
    width: 82%;
    height: auto;
    display: flex;
    margin-top: 7.91%;
    margin-left: 7.9%;
    margin-right: 7.9%;
    padding: 1.111%;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
  }

  .Primary-Text-2 {
    width: 95.7%;
    height: auto;

    /* border: solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .Project-Title-2 {
    display: none;
  }

  .Project-Title-2-Desktop {
    display: flex;
    width: 100%;
    height: auto;

    /* border: solid black; */
    color: var(--neutrals-n-800, #172b4d);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2.778vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.778vw;
    margin: 0;
  }

  .fr-text-Desktop-2 {
    display: flex;
    color: var(--neutrals-n-600, #344563);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.667vw;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .fr1-text-Desktop-2 {
    display: flex;
    color: var(--neutrals-n-100, #7a869a);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.667vw;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .card3 {
    width: 82%;
    height: auto;
    display: flex;
    margin-top: 7.91%;
    margin-left: 7.9%;
    margin-right: 7.9%;
    padding: 1.111%;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
  }

  .card4 {
    width: 82%;
    height: auto;
    display: flex;
    margin-top: 7.91%;
    margin-left: 7.9%;
    margin-right: 7.9%;
    padding: 1.111%;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    background: var(--neutrals-n-0, #fff);
  }

  .Myself {
    background-color: white;
    box-sizing: border-box;
    margin-top: 7.9%;
    padding: 9.86% 9.86% 11.5% 9.93%;
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5%;
    border-radius: 0 120px 0 0;
  }

  .top {
    width: 66%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .top-text1 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    color: var(--neutrals-n-800, #172b4d);

    /* Header / 2 */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2.778vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.611vw; /* 130% */
    margin: 0;
  }

  .top-text2 {
    width: 100%;
    height: auto;
    color: var(--neutrals-n-600, #344563);
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.667vw;
  }

  .social {
    width: 44.7%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .social-text {
    color: var(--primary-b-300, #7f8cff);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667vw;
    margin: 0;
    cursor: pointer;
  }

  .social-text:hover {
    color: var(--neutrals-n-600, #344563);
  }

  .Frame2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .Frame2-icons {
    display: flex;
    padding: 4%;
    align-items: flex-start;
    border-radius: 8px;
    cursor: pointer;
  }

  .resum {
    width: 37.5%;
    height: auto;
    display: flex;
    padding: 2.68%;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070ff);
    background: content-box;
    cursor: pointer;
    margin-top: 5.369%;
  }

  .resum:hover {
    border: none;
    border-radius: 8px;
    background: var(--primary-b-500, #4053fc);

    /* Button/1 */
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
    color: #fff;
  }

  .resum-text {
    width: 100%;
    height: auto;
    margin: 0;
    color: var(--primary-b-500, #396df2);
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667vw;
    letter-spacing: 0.51px;
  }

  .resum-text:hover {
    color: #fff;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .Languages {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .sep-bot {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: var(--neutrals-n-40, #dfe1e6);
  }

  .Lan-Fr {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    padding: 2.35% 3.83% 2.35% 1.78%;
    align-items: center;
    gap: 12%;
    justify-content: space-between;
  }

  .lang-text {
    width: 35%;
    height: auto;
    margin: 0;
    color: #000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.389vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667vw;
    cursor: pointer;
  }

  .Lang-button {
    width: 6.247%;
    height: auto;
    display: flex;
    padding: 1.25%;
    align-items: flex-start;
    border: 0;
    background: content-box;
    cursor: pointer;
  }

  .language-list {
    box-sizing: border-box;
    width: 61%;
    height: auto;
    display: flex;
    padding: 1.768%;
    flex-direction: row;
    align-items: center;
    gap: 3%;
  }

  .language-list-lang {
    flex-direction: column;
    box-sizing: border-box;
    width: 31.3%;
    height: auto;
    display: flex;
    padding: 3.1% 3.1% 3.1% 5.1%;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: var(--neutrals-n-10, #f7f7f9);
    cursor: pointer;
  }

  .language-list-lang:hover {
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
    background: var(--neutrals-n-10, #ededf0);
  }

  .img-list {
    display: flex;
    width: 54%;
    height: auto;
    flex-shrink: 0;
    border: none;
    background: none;
  }

  .list-text {
    display: flex;
    width: 109%;
    height: auto;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: 0;
    color: var(--neutrals-n-700, #253858);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.389vw;
  }

  .Frameworks {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    padding: 2.35% 3.83% 2.35% 1.78%;
    align-items: center;
    gap: 12%;
    justify-content: space-between;
  }

  .Skills {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    padding: 2.35% 3.83% 2.35% 1.78%;
    align-items: center;
    gap: 12%;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 6%;
    flex-direction: column;
    align-items: center;
    background-color: #6070ff;
    border-radius: 120px 0 0 0;
    background-image: url(./Assests/contact\ form\ background\ shapes\ 2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .c-text1 {
    display: flex;
    width: 55.6%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--neutrals-n-0, #fff);
    text-align: center;
    margin: 0;
    margin-top: 7.152%;

    /* Header / 2 */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2.778vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.611vw; /* 130% */
  }

  .c-text2 {
    display: flex;
    width: 39.51%;
    height: auto;
    align-self: center;
    margin-top: 0.833%;
    margin-bottom: 0;
    margin-left: 1.667%;
    margin-right: 1.667%;
    color: var(--primary-b-50, #ebebff);
    text-align: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.389vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.944vw; /* 140% */
  }

  .contact-form {
    display: flex;
    width: 31%;
    height: auto;

    /* border: solid black; */
    box-sizing: border-box;
    align-items: center;
    margin-top: 3.611%;
    flex-direction: column;
    gap: 20px;
  }

  .name {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--base-100, #cfd8dc);
    background: var(--mono-white, #fff);
  }

  .email {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--base-100, #cfd8dc);
    background: var(--mono-white, #fff);
  }

  .feedback {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--base-100, #cfd8dc);
    background: var(--mono-white, #fff);
  }

  .get-in-touch {
    width: 33.76%;
    height: auto;
    display: inline-flex;
    padding: 2.684% 3.579%;
    align-items: center;
    border-radius: 8px;
    background: var(--neutrals-n-0, #fff);
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    cursor: pointer;
    border: none;

    /* Button /Normal */
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 500;
    line-height: 1.667vw; /* 141.176% */
    letter-spacing: 0.51px;
  }

  .get-in-touch:hover {
    border: none;
    border-radius: 8px;
    background: var(--primary-b-500, #4053fc);
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.24);
  }

  ::placeholder {
    padding-left: 8px;
    color: var(--neutral-n-800, #172b4d);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.181vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.389vw; /* 117.647% */
  }

  input {
    box-sizing: border-box;
    padding-left: 4%;
    color: var(--neutral-n-800, #172b4d);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.181vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.389vw; /* 117.647% */
  }

  textarea {
    box-sizing: border-box;
    padding-left: 4%;
    color: var(--neutral-n-800, #172b4d);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.181vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.389vw; /* 117.647% */
  }

  textarea:focus,
  input:focus {
    outline: none;
  }
}
